table, td{
	border: solid 1px black;
	border-spacing: 0px;
}

th, td{
	padding: 3.5px;
}

svg.octicons{
	height: 1em;
	width: auto;
	top: 0.125em;
	position: relative;
	fill: currentColor;
}

body{
	margin: 0px;
	border: none;
}

body > *{
	margin: auto;
	padding: 10px;
}

#main_container {
	margin-top: 5px;
	margin-bottom: 5px;
	width: calc(40% + 250px);
	min-width: 60%
	max-width: 100%;
}
